/* Write your global styles here, in PostCSS syntax */

@import './styles/variables.postcss';
@import './styles/media.postcss';
@import './styles/reset.postcss';
@import './styles/type.postcss';
@import './styles/classes.postcss';